
.banner{
  background-image: url('./images/banner-picture.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  margin: -6% 0 0 0
}
.banner h1{
    color: #FFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Plus Jakarta Sans;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 20.833% */
padding: 25% 0 0 0;
}
.banner h2{
    color: #FFF;
font-family: Plus Jakarta Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 41.667% */
}